page-new-event {

    #myInput {
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
    }

    /**ion-searchbar{        
        .searchbar-input-container{            
            .searchbar-input{
                border-radius: 1px;
            }
        }
     }
     */

}
